div {
  border: solid black 2px;
}

.movieDot {
  opacity: 0.1;
}

#parityLine {
  stroke: black;
  stroke-width: 1;
}

.cell rect {
  stroke: black;
  stroke-width: 1;
}

.axis text {
  fill: black;
  font-size: 15px;
}

.tick text {
  font-size: 10px;
}

.controls-container {
  background-color: #f2f2f9;
  width: 700px;
  float: bottom;
}

.controls-container .date-slider {
  width: 98%;
}

.container {
  position: relative;
  border: 2px solid #ccc;
  width: 1000px;
}

.heatmap {
  float: left;
}

.tagfilter {
  float: right;
  overflow-y: scroll;
  width: 280px;
  height: 780px;
}