.cell rect {
  stroke: black;
  stroke-width: 1;
}

.axis text {
  fill: black;
  font-size: 15px;
}

.axis-label {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: "black";
}

.tick text {
  font-size: 10px;
}

.explore-div {
  width: 990px;
}

.controls-container {
  background-color: #f2f2f9;
  float: bottom;
  width: 700px;
}

.controls-container .date-slider {
  width: 98%;
}

#leftcol {
  width: 700px;
  float: left;
}

.tagfilter {
  float: right;
  overflow-y: scroll;
  width: 280px;
  height: 780px;
/*  outline: 1px solid black;*/
  background-color: #FFD6AD;
  font-family: Karla, sans-serif;
  font-size: 12px;
}

/*.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}*/


div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: 135px;          
    height: 35px; 
    padding: 6px;
    background: #FFD6AD;
    color: "black";
    border-radius: 4px;
    line-height: 12px;
    font-size: 10px;
    font-weight: 400;
    font-family: Karla, sans-serif;          
    pointer-events: none;
}

