/*h1 {
	font-family: 'Playfair Display';
	font-weight: 900;
	font-size: 48px;
	font-style: bold;
	color: #FFF4E9;
	line-height: 32px;
}
*/
/*h2 {
	font-family: 'Playfair Display';
	font-weight: 600;
	font-size: 36px;
	font-style: normal;
	color: #FFF4E9;
}*/

/*wave title*/
h1 {
	font-family: 'Playfair Display';
	font-weight: 800;
	font-size: 30px;
	font-style: normal;
	color: #171717;
	text-align: center;
	position: sticky;
	line-height: 100px;
	top: 0;
	width: 100%;
}

/*graph title*/
h2 {
	font-family: 'Karla';
	font-weight: 700;
	font-size: 28px;
	font-style: normal;
	color: #171717;
	text-align: center;
	line-height: 36px;
	padding-bottom: 12px;

}

/*//caption */
h3 { 
	font-family: 'Karla';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
	color: #171717;
	text-align: center;
	line-height: 20px;
	max-width: 500px;
	opacity: 0.8;
}

/*body text*/
h4 {
	font-family: 'Karla';
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	color: #171717;
	text-align: left;
	line-height: 28px;

}

/* Centered text */
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.container {
	margin: 0 auto;
	border: none !important;
}

.child {
	margin: 0 auto;
	width: 650px;
	border: none !important;
}

.child .caption {
/*	margin: 0 auto;*/
	width: 400px;
}
/*.vis_container {
	margin-left: -750;
	width: 1300px;
}*/


/*.olivia_div {
	transform: translate(50px, 100px);
	transition-duration: 5s;
	transition-timing-function: ease-in;
}*/

/*.inline-block-child{
	display:inline-block;
}

.leftbox {
	width:40%;
	float:;
}

.paragraph {
    width:50%;
    float: right;
}
.clearfix{
    clear:both
}
*/



